<% @switch_state_changed = false %>
<% @dimmer_state_changed = false %>
<script src="https://cdn.firebase.com/js/client/1.1.3/firebase.js"></script>

  <style>
.dummy {
    margin-top: 100%;
}
.tile {
    vertical-align: middle;
}
.thumbnail {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    
    text-align: center;
    padding-top:calc(24% - 34px);
}
.handle {
  font-size: 12px;
  color: #777;
  cursor: move;
   height: 20%;
}
.device-wrapper{

  height: 50%;
  margin: auto;
  padding-top: 5%;
  
}
.temp {
  width:  45%;
  height: 50%;
  margin: auto;
  font-size: 120%;
  padding-top: 5%;


}


.device-footer{
  margin: auto;
  height: 40%;
}
.placeholder {
    left: 5px;
    top: 15px;
    height: 140px;
    border: 1px solid grey;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
    box-shadow: 0px 0px 10px #888;
}
.placeholder:after {
            position: absolute;
            z-index: 10;
            content: " ";
            height: 120px;
            background: #f9f9f9;
            left: 0;
            right: 0;
}
.real-first-child {
    margin-left:0 !important;
}
.ui-slider-colors-demo { 

    width: 80%;

    margin-left: 10%;
}

.switcher{
   
}

.widget-title {
    height: 22%;
}

.ui-slider-success { 
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
}

.temp {
  width:  40%;
  height: 45%;
  margin: auto;
  font-size: 120%;
  padding-top: 10%;


}


.motion-active {
  background-color: #00CC66;
  color: white;
}

.door-closed {
  background-color: #00CC66;
  color: white;
}

.door-open {
  background-color: #FF6600;
  color: white;
}

.door-locked {
  background-color: #00CC66;
  color: white;
}

.door-unlocked {
  background-color: #FF6600;
  color: white;
}




</style>

           
<div class="container">
        <div id="ui-accordion">
          <% @grouped_things.each do |device_type, things| %>
              <div class="group">
                <% if device_type == "dimmer" %>
                  <h3>Dimmers</h3>
                <% elsif device_type == "switch"%>
                  <h3>Switches</h3>
                <% elsif device_type == "temperatureMeasurement"%>
                  <h3>Temperatures</h3>
                <% elsif device_type == "relativeHumidityMeasurement"%>
                  <h3>Humidities</h3>
                <% elsif device_type == "contact"%>
                  <h3>Doors and Windows</h3>
                <% elsif device_type == "motion"%>
                  <h3>Motion</h3>
                <% elsif device_type == "illuminant"%>
                  <h3>Light Levels</h3>
                <% elsif device_type == "lock"%>
                  <h3>Locks</h3>
                <% elsif device_type == "battery"%>
                  <h3>Batteries</h3>
                <% else %>
                  <h3>Unknown</h3>
                <% end %>
                  <div>
                  <div id="<%=device_type%>_filters" class="button-group">
                        <button data-filter="*" class="btn btn-default btn-xs">show all</button>
                      <% @user.zones.each do |zone| %>
                        <button data-filter=".zone_<%= zone.id %>" class="btn btn-default btn-xs"><%= zone.name %></button>
                      <% end %>
                  </div>
                  <div id="<%=device_type%>_row">

                    <% things.each do |thing| %>
                      <% if thing.zone_id != nil %>
                        <% if thing.device_type == "dimmer" %>
                          <%= render partial: "tiles/dimmer", locals: {dimmer: thing}%>
                        <% elsif thing.device_type == "switch" %>
                          <%= render partial: "tiles/switch", locals: {switch: thing}%>
                        <% elsif thing.device_type == "lock" %>
                          <%= render partial: "tiles/lock", locals: {lock: thing}%>
                        <% elsif thing.device_type == "temperatureMeasurement" %>
                          <%= render partial: "tiles/temperature", locals: {temp: thing}%>
                        <% elsif thing.device_type == "relativeHumidityMeasurement" %>
                          <%= render partial: "tiles/humidity", locals: {humidity: thing}%>
                        <% elsif thing.device_type == "motion" %>
                          <%= render partial: "tiles/motion", locals: {motion: thing}%>
                        <% elsif thing.device_type == "contact" %>
                          <%= render partial: "tiles/contact", locals: {contact: thing}%>
                        <% elsif thing.device_type == "battery" %>
                          <%= render partial: "tiles/battery", locals: {battery: thing}%>
                        <% elsif thing.device_type == "illuminant" %>
                          <%= render partial: "tiles/illuminant", locals: {illuminant: thing}%>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                  </div>
                </div>
              <% end %> 
        </div>
</div>

<script>

init.push(function () {
  $( "#ui-accordion" ).accordion({
              heightStyle: "content",
              header: "> .group > h3"

  });            
});

   
</script>
<% @things.each do |thing| %>
<script>
 
    <% if thing.device_type == "switch" %>
    var myFirebaseRef_<%=thing.id%> = new Firebase("https://dazzling-heat-3134.firebaseio.com/events/<%= thing.uid %>/switch");
    <% elsif thing.device_type == "dimmer" %>
    var myFirebaseRef_<%=thing.id%> = new Firebase("https://dazzling-heat-3134.firebaseio.com/events/<%= thing.uid %>/level");
    <% elsif thing.device_type == "temperatureMeasurement" %>
    var myFirebaseRef_<%=thing.id%> = new Firebase("https://dazzling-heat-3134.firebaseio.com/events/<%= thing.uid %>/temperature");
    <% elsif thing.device_type == "relativeHumidityMeasurement" %>
    var myFirebaseRef_<%=thing.id%> = new Firebase("https://dazzling-heat-3134.firebaseio.com/events/<%= thing.uid %>/humidity");
    <% elsif thing.device_type == "motion" %>
    var myFirebaseRef_<%=thing.id%> = new Firebase("https://dazzling-heat-3134.firebaseio.com/events/<%= thing.uid %>/motion");
    <% elsif thing.device_type == "contact" %>
    var myFirebaseRef_<%=thing.id%> = new Firebase("https://dazzling-heat-3134.firebaseio.com/events/<%= thing.uid %>/contact");
    <% elsif thing.device_type == "illuminant" %>
    var myFirebaseRef_<%=thing.id%> = new Firebase("https://dazzling-heat-3134.firebaseio.com/events/<%= thing.uid %>/illuminance");
    <% elsif thing.device_type == "battery" %>
    var myFirebaseRef_<%=thing.id%> = new Firebase("https://dazzling-heat-3134.firebaseio.com/events/<%= thing.uid %>/battery");
    <% elsif thing.device_type == "lock" %>
    var myFirebaseRef_<%=thing.id%> = new Firebase("https://dazzling-heat-3134.firebaseio.com/events/<%= thing.uid %>/lock");
    <% end %>



    var query_<%=thing.id %> = myFirebaseRef_<%=thing.id %>.endAt().limit(1);
    query_<%=thing.id %>.on('child_added', function(snapshot) {
        var value = snapshot.val()
            if (value.name == "switch"){
                     $('.switch_'+value.device).bootstrapToggle(value.value)
                     console.log("changed switch value")
                     
            
                
            }

            if (value.name == "level"){
                var levelValue = $('.dimmer_'+value.device).slider("value")
                if (value.value != levelValue){
                     $('.dimmer_'+value.device).slider("value", value.value)
                }
               
               
            }
            if (value.name == "motion"){
              $('.motion_'+value.device).html(value.value);

                if(value.value == "active"){
                  $('.motion_'+value.device).addClass("motion-"+value.value);
                }else{
                   $('.motion_'+value.device).removeClass("motion-active");
                }
              

            }
            if (value.name == "contact"){
              $('.contact_'+value.device).html(value.value);
              if(value.value == "open"){
                  $('.contact_'+value.device).removeClass("door-closed");
                  $('.contact_'+value.device).addClass("door-"+value.value);
                }else{
                   $('.contact_'+value.device).removeClass("door-open");
                   $('.contact_'+value.device).addClass("door-"+value.value);
                }

            }
            if (value.name == "lock"){
                if(value.value == "locked"){
                  $('.lock_'+value.device).bootstrapToggle("on")
                     console.log("changed lock value")
                }else{
                   $('.lock_'+value.device).bootstrapToggle("off")
                     console.log("changed lock value")
                }
                       
            }
          

            if (value.name == "illuminance"){
                if(value.unit == undefined){
                   var display_unit = "Lux"
                  
                }else{
                 var display_unit = value.unit 
                }
              $('.illuminant_'+value.device).html(value.value+" "+display_unit);

            }

             if (value.name == "battery"){
              if(value.unit == undefined){
                   var display_unit = "%"
                  
                }else{
                 var display_unit = value.unit 
                }
              $('.battery_'+value.device).html(value.value+" "+display_unit);

            }

            if (value.name == "temperature"){
              if(value.unit == undefined){
                   var display_unit = "F"
                  
                }else{
                 var display_unit = value.unit 
                }
              $('.temperature_'+value.device).html(value.value+" "+display_unit);

            }

            if (value.name == "humidity"){
              if(value.unit == undefined){
                   var display_unit = "%"
                  
                }else{
                 var display_unit = value.unit 
                }
              $('.humidity_'+value.device).html(value.value+" "+display_unit);

            }
           
        console.log(value.device+' '+value.value+' '+value.unit);
        
    });
</script>
<% end %>


<script>
    $('.toggle').on('click',function() {

          var form = $(this).parents('form:first');

         
          form.submit();
         
              
    });
</script>


<script>

<% @things.where(:device_type => "dimmer").each do |dimmer| %>


var colorful_sliders_options = {
    'range': 'min',
    'min': 1,
    'max': 99,
    'value': 0,
        'stop': function(event, ui) {
            var value = $(".dimmer_<%= dimmer.uid %>").slider("value");
            $(".dimmer_value_<%= dimmer.uid %>").val(value);
            var form = $(this).parents('form:first');
           
            form.submit();
           
            

        }
};
$('.dimmer_<%= dimmer.uid %>').slider(colorful_sliders_options);




<% end %>
</script>


<% @grouped_things.each do |device_type, things| %>

<script>
  // init Isotope
var $<%= device_type %>Container = $('#<%= device_type %>_row').isotope({
  // options
});
// filter items on button click
$('#<%= device_type %>_filters').on( 'click', 'button', function() {

  var <%= device_type %>FilterValue = $(this).attr('data-filter');
  $<%= device_type %>Container.isotope({ filter: <%= device_type %>FilterValue });
  
});
</script>

<% end %>