
 <div id="thing_<%= battery.id %>" class="tile col-md-2 col-sm-4 col-xs-10">
    <div class="dummy"></div>

        <div class="thumbnail">
         
            <div class="widget-title handle">
            
            <h4><%= battery.zone.name %></h4>

            </div>
            
            <div class="temp battery_<%= battery.uid %>">
              <%= battery.device_value %> %
          </div>
           <h5><%= link_to battery.label, thing_path(battery) %></h5>
        </div>
  </div>