
 <div id="thing_<%= battery.id %>" class="tile col-lg-2 col-md-3 col-sm-6 col-xs-6  zone_<%= battery.zone_id %> item">
    <div class="dummy"></div>

        <div class="thumbnail">
         
            <div class="widget-title handle">
            <% if @location && @zone %>
              <% if current_page?(location_zone_path(@location, @zone)) %>
                <h4>Battery</h4>
              <% end %>
             <% else %>
                <h4 class="hidden-xs"><%= link_to battery.zone.name, location_zone_path(battery.zone.location, battery.zone) %></h4>
            <% end %>

          
           
            </div>
            
            <div class="temp battery_<%= battery.uid %>">
              <%= battery.device_value %> %
          </div>
           <h5><%= link_to battery.label, thing_path(battery) %></h5>
        </div>
  </div>