
<div id="thing_<%= contact.id %>" class="tile col-md-2 col-sm-4 col-xs-10  zone_<%= contact.zone_id %> item">
  <div class="dummy"></div>
      <div class="thumbnail">
          <div class="widget-title handle">
          <h4><%= contact.zone.name %></h4>

          </div>
          <div class="temp contact_<%= contact.uid %> img-circle">
            <%= contact.device_value %>
          </div>
          <h5><%= link_to contact.label, thing_path(contact) %></h5>
      </div>
</div>