
<div id="thing_<%= contact.id %>" class="tile col-lg-2 col-md-3 col-sm-4 col-xs-6  zone_<%= contact.zone_id %> item">
  <div class="dummy"></div>
      <div class="thumbnail">
          <div class="widget-title handle">
          <% if @location  && @zone%>
            <% if current_page?(location_zone_path(@location, @zone)) %>
              <h4>Contact</h4>
            <% end %>
          <% else %>
            <h4><%= link_to contact.zone.name, location_zone_path(contact.zone.location, contact.zone) %></h4>
          <% end %>
          </div>
          <div id="contact_<%=contact.uid%>"></div>
         
          <h5><%= link_to contact.label, thing_path(contact) %></h5>
      </div>
</div>