
<div id="thing_<%= illuminant.id %>" class="tile col-lg-2 col-md-3 col-sm-6 col-xs-6  zone_<%= illuminant.zone_id %> item">
  <div class="dummy"></div>
      <div class="thumbnail">
          <div class="widget-title handle">
          <h4 class="hidden-xs"><%= link_to illuminant.zone.name, location_zone_path(illuminant.zone.location, illuminant.zone) %></h4>

          </div>
          <div class="temp illuminant_<%= illuminant.uid %>">
           
          </div>
           <h5><%= illuminant.label %></h5>
      </div>
</div>