
<div id="thing_<%= lock.id %>" class="tile col-lg-2 col-md-4 col-sm-6 col-xs-6  zone_<%= lock.zone_id %> item">
  <div class="dummy"></div>
      <div class="thumbnail">
          <div class="widget-title handle">
          <% if @location && @zone %>
            <% if current_page?(location_zone_path(@location, @zone)) %>
              <h4>Lock</h4>
            <% end %>
          <% else %>
              <h4 class="hidden-xs"><%= link_to lock.zone.name, location_zone_path(lock.zone.location, lock.zone) %></h4>
          <% end %>
          

          </div>
          <div class= "device-wrapper">
            <%= form_for lock, :remote=> true do |t| %>
                 <div class="toggle">
                  <%= t.check_box(:lock_value, {data: {"toggle"=> "toggle", "on"=>"Locked", "off" => "Unlocked", "onstyle"=>"success", "offstyle"=>"warning"}, class: 'lock_'+lock.uid+' lock_class', :checked => false}, "off", "on") %>
                 </div>
                 <%= t.text_field :source, :value => "remote", :hidden => true %>
            <% end %>
          </div>
          <div class="device-footer">
            <h5><%= lock.label %></h5>
          </div>
      </div>
</div>