
<%= content_tag_for :div, motion, :class=> "tile col-lg-2 col-md-3 col-sm-6 col-xs-6 zone_"+motion.zone_id.to_s+" item" do %>

    <div class="dummy"></div>
        <div class="thumbnail">
            <div class="widget-title handle">
            <h4 class="hidden-xs"><%= motion.zone.name %></h4>

            </div>
            <div class="temp motion_<%= motion.uid %> img-circle">
             <%= motion.device_value %>
            </div>
             <h5><%= motion.label %></h5>
        </div>

<% end %>