
<div id="thing_<%= temp.id %>" class="tile col-lg-2 col-md-3 col-sm-6 col-xs-6  zone_<%= temp.zone_id %> item">
  <div class="dummy"></div>
    <div class="thumbnail">
        <div class="widget-title handle">
        <% if @location && @zone %>
          <% if current_page?(location_zone_path(@location, @zone)) %>
            <h4>Temperature</h4>
          <% end %>
        <% else %>
            <h4 class="hidden-xs"><%= link_to temp.zone.name, location_zone_path(temp.zone.location, temp.zone) %></h4>
        <% end %>

        </div>
        <div class="temp temperature_<%= temp.uid %>">
          <%= temp.device_value %>
        </div>
         <h5><%= link_to temp.label, thing_path(temp) %></h5>
    </div>
</div>