
<div id="thing_<%= temp.id %>" class="tile col-lg-2 col-md-3 col-sm-5 col-xs-6  zone_<%= temp.zone_id %> item">
  <div class="dummy"></div>
    <div class="thumbnail">
        <div class="widget-title handle">
        <h4><%= temp.zone.name %></h4>
        </div>
        <div class="temp temperature_<%= temp.uid %>">
          <%= temp.device_value %> °F
        </div>
         <h5><%= link_to temp.label, thing_path(temp) %></h5>
    </div>
</div>