<%= form_for([:admin, @faq]) do |f| %>
  <% if @faq.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@faq.errors.count, "error") %> prohibited this faq from being saved:</h2>

      <ul>
      <% @faq.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :question %><br>
    <%= f.text_field :question, :class=> "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :answer %><br>
    <%= f.text_area :answer, :class=> "form-control", :rows=> 6 %>
  </div>
  <div class="form-group">
    <%= f.submit :class=> "btn btn-primary" %>
  </div>
<% end %>
