<h1>Listing faqs</h1>

<table class="table">
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @faqs.each do |faq| %>
      <tr>
        <td><%= faq.question %></td>
        <td><%= faq.answer %></td>
        <td><%= link_to 'Show', ([:admin, faq]) %></td>
        <td><%= link_to 'Edit', edit_admin_faq_path(faq) %></td>
        <td><%= link_to 'Destroy', ([:admin, faq]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Faq', new_admin_faq_path %>


<script>
  var utterance = new SpeechSynthesisUtterance('It is 72 Degrees');
  window.speechSynthesis.speak(utterance);
</script>