  <% content_for :page_header do %>
    <%= @thing.label %>
  <% end %>
  <% content_for :page_actions do %>
   

  <% end %>
  <% content_for :page_search do %>

  <% end %>
<%= render 'shared/header' %>



<% if @thing.device_type == "temperatureMeasurement" %>
<% uri = "https://dazzling-heat-3134.firebaseio.com" %>
<% firebase = Firebase::Client.new(uri) %>
<% temps = firebase.get("events/"+@thing.uid+"/temperature") %>
<% results = temps.body %>


<style>
#chartdiv {
    width   : 100%;
    height  : 600px;
}                           
</style>



                



               
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">Recent Temperatures</span>
                    </div>
                    <div class="panel-body">

                        <div class="graph-container">
                          
                            <div id="chartdiv"></div>                           


<script>
    var chartData = 
    <% temps = results.map do |item1, item2| %>
                            <% if item2["date"] != nil %>
                                <% if item2["value"] != nil %>
                                    <% if current_user.time_zone %>
                                        <%  { date: item2["date"].to_datetime.in_time_zone(current_user.time_zone).strftime('%Y-%m-%d %H:%M:%S'), temps: item2["value"] } %>
                                    <% else %>
                                        <%  { date: item2["date"].to_datetime.strftime('%Y-%m-%d %H:%M:%S'), temps: item2["value"] } %>
                                    <% end %>
                                <% end %>
                            <% end %>
                         <% end %>

                         <%= raw(temps.compact.to_json) %>;
    var chart = AmCharts.makeChart("chartdiv", {
    "type": "serial",
    "theme": "light",
    "pathToImages": "http://www.amcharts.com/lib/3/images/",
    "dataProvider": chartData,
    "dataDateFormat": "YYYY-MM-DD HH:NN:SS",
    "valueAxes": [{
        "axisAlpha": 0.2,
        "dashLength": 1,
        "position": "left"
    }],
    "mouseWheelZoomEnabled":true,
    "graphs": [{
        "id":"g1",
        "balloonText": "[[category]]<br /><b><span style='font-size:14px;'>value: [[value]]</span></b>",
        "bullet": "round",
        "bulletBorderAlpha": 1,
        "bulletColor":"#FFFFFF",
        "hideBulletsCount": 50,
        "title": "red line",
        "valueField": "temps",
        "useLineColorForBulletBorder":true,
        
    }],
    "chartScrollbar": {
        
        "graph": "g1",
        "scrollbarHeight": 40
    },
    "chartCursor": {
        "cursorPosition": "mouse"
    },
    "categoryField": "date",
    "categoryAxis": {
        "parseDates": true,
        "axisColor": "#DADADA",
        "dashLength": 1,
        "minorGridEnabled": true,
        "minPeriod": "mm",
        "groupToPeriods": ["ss", "10ss", "30ss", "mm", "10mm", "30mm", "hh", "DD", "WW", "MM", "YYYY"],
        "equalSpacing": true
    },
    "exportConfig":{
      menuRight: '20px',
      menuBottom: '30px',
      menuItems: [{
      icon: 'http://www.amcharts.com/lib/3/images/export.png',
      format: 'png'   
      }]  
    }

   
});

chart.addListener("rendered", zoomChart);
zoomChart();

// this method is called when chart is first inited as we listen for "dataUpdated" event
function zoomChart() {
    // different zoom methods can be used - zoomToIndexes, zoomToDates, zoomToCategoryValues
    chart.zoomToIndexes(chartData.length - 40, chartData.length - 1);
}


// generate some random data, quite different range

</script>
<% end %>


<% if @thing.device_type == "relativeHumidityMeasurement" %>
<% uri = "https://dazzling-heat-3134.firebaseio.com" %>
<% firebase = Firebase::Client.new(uri) %>
<% hums = firebase.get("events/"+@thing.uid+"/humidity") %>
<% results = hums.body %>


<style>
#chartdiv {
    width   : 100%;
    height  : 600px;
}                           
</style>


               
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">Recent Humidities </span>
                    </div>
                    <div class="panel-body">

                        <div class="graph-container">
                          
                            <div id="chartdiv"></div>                           


<script>
    var chartData = 
    <% hums = results.map do |item1, item2| %>
                            <% if item2["date"] != nil %>
                                <% if item2["value"] != nil %>
                                <% if current_user.time_zone %>
                                        <%  { date: item2["date"].to_datetime.in_time_zone(current_user.time_zone).strftime('%Y-%m-%d %H:%M:%S'), hum: item2["value"] } %>
                                    <% else %>
                                        <%  { date: item2["date"].to_datetime.strftime('%Y-%m-%d %H:%M:%S'), hum: item2["value"] } %>
                                    <% end %>
                                <% end %>
                            <% end %>
                         <% end %>

                         <%= raw(hums.compact.to_json) %>;
    var chart = AmCharts.makeChart("chartdiv", {
    "type": "serial",
    "theme": "light",
    "pathToImages": "http://www.amcharts.com/lib/3/images/",
    "dataDateFormat": "YYYY-MM-DD HH:NN:SS",
    "dataProvider": chartData,
    "valueAxes": [{
        "axisAlpha": 0.2,
        "dashLength": 1,
        "position": "left"
    }],
    "mouseWheelZoomEnabled":true,
    "graphs": [{
        "id":"g1",
        "balloonText": "[[category]]<br /><b><span style='font-size:14px;'>value: [[value]]</span></b>",
        "bullet": "round",
        "bulletBorderAlpha": 1,
        "bulletColor":"#FFFFFF",
        "hideBulletsCount": 50,
        "title": "red line",
        "valueField": "hum",
        "useLineColorForBulletBorder":true
        
    }],
    "chartScrollbar": {
        
        "graph": "g1",
        "scrollbarHeight": 40
    },
    "chartCursor": {
        "cursorPosition": "mouse"
    },
    "categoryField": "date",
    "categoryAxis": {
        "parseDates": true,
        "axisColor": "#DADADA",
        "dashLength": 1,
        "minorGridEnabled": true,
        "minPeriod": "mm",
        "groupToPeriods": ["ss", "10ss", "30ss", "mm", "10mm", "30mm", "hh", "DD", "WW", "MM", "YYYY"],
        "equalSpacing": true
    },
    "exportConfig":{
      menuRight: '20px',
      menuBottom: '30px',
      menuItems: [{
      icon: 'http://www.amcharts.com/lib/3/images/export.png',
      format: 'png'   
      }]  
    }
});

chart.addListener("rendered", zoomChart);
zoomChart();

// this method is called when chart is first inited as we listen for "dataUpdated" event
function zoomChart() {
    // different zoom methods can be used - zoomToIndexes, zoomToDates, zoomToCategoryValues
    chart.zoomToIndexes(chartData.length - 40, chartData.length - 1);
}


// generate some random data, quite different range

</script>
<% end %>


<% if @thing.device_type == "battery" %>
<% uri = "https://dazzling-heat-3134.firebaseio.com" %>
<% firebase = Firebase::Client.new(uri) %>
<% bats = firebase.get("events/"+@thing.uid+"/battery") %>
<% results = bats.body %>


<style>
#chartdiv {
    width   : 100%;
    height  : 600px;
}                           
</style>


               
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">Battery Stats </span>
                    </div>
                    <div class="panel-body">

                        <div class="graph-container">
                          
                            <div id="chartdiv"></div>                           


<script>
    var chartData = 
    <% bats = results.map do |item1, item2| %>
                            <% if item2["date"] != nil %>
                                <% if item2["value"] != nil %>
                                <% if current_user.time_zone %>
                                        <%  { date: item2["date"].to_datetime.in_time_zone(current_user.time_zone).strftime('%Y-%m-%d %H:%M:%S'), bat: item2["value"] } %>
                                    <% else %>
                                        <%  { date: item2["date"].to_datetime.strftime('%Y-%m-%d %H:%M:%S'), bat: item2["value"] } %>
                                    <% end %>
                                <% end %>
                            <% end %>
                         <% end %>

                         <%= raw(bats.compact.to_json) %>;
    var chart = AmCharts.makeChart("chartdiv", {
    "type": "serial",
    "theme": "light",
    "pathToImages": "http://www.amcharts.com/lib/3/images/",
    "dataProvider": chartData,
    "dataDateFormat": "YYYY-MM-DD HH:NN:SS",
    "valueAxes": [{
        "axisAlpha": 0.2,
        "dashLength": 1,
        "position": "left"
    }],
    "mouseWheelZoomEnabled":true,
    "graphs": [{
        "id":"g1",
        "balloonText": "[[category]]<br /><b><span style='font-size:14px;'>value: [[value]]</span></b>",
        "bullet": "round",
        "bulletBorderAlpha": 1,
        "bulletColor":"#FFFFFF",
        "hideBulletsCount": 50,
        "title": "red line",
        "valueField": "bat",
        "useLineColorForBulletBorder":true,
    }],
    "chartScrollbar": {
        
        "graph": "g1",
        "scrollbarHeight": 40
    },
    "chartCursor": {
        "cursorPosition": "mouse"
    },
    "categoryField": "date",
    "categoryAxis": {
        "parseDates": true,
        "axisColor": "#DADADA",
        "dashLength": 1,
        "minorGridEnabled": true,
        "minPeriod": "mm",
        "groupToPeriods": ["ss", "10ss", "30ss", "mm", "10mm", "30mm", "hh", "DD", "WW", "MM", "YYYY"],
        "equalSpacing": true
    },
    "exportConfig":{
      menuRight: '20px',
      menuBottom: '30px',
      menuItems: [{
      icon: 'http://www.amcharts.com/lib/3/images/export.png',
      format: 'png'   
      }]  
    }
});

chart.addListener("rendered", zoomChart);
zoomChart();

// this method is called when chart is first inited as we listen for "dataUpdated" event
function zoomChart() {
    // different zoom methods can be used - zoomToIndexes, zoomToDates, zoomToCategoryValues
    chart.zoomToIndexes(chartData.length - 40, chartData.length - 1);
}


// generate some random data, quite different range

</script>
<% end %>



<% if @thing.device_type == "contact" %>
<% uri = "https://dazzling-heat-3134.firebaseio.com" %>
<% firebase = Firebase::Client.new(uri) %>
<% conts = firebase.get("events/"+@thing.uid+"/contact") %>
<% results = conts.body %>


<style>
#chartdiv {
    width   : 100%;
    height  : 600px;
}                           
</style>


               
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">Contact Stats </span>
                    </div>
                    <div class="panel-body">

                        <div class="graph-container">
                          
                            <div id="chartdiv"></div>                           


<script>
    var chartData = 
    <% conts = results.map do |item1, item2| %>
        <% if item2["date"] != nil %>
            <% if item2["value"] != nil %>
                <% if item2["value"] == "open" %>
                    <% if current_user.time_zone %>
                        <%  { date: item2["date"].to_datetime.in_time_zone(current_user.time_zone).strftime('%Y-%m-%d %H:%M:%S'), cont: 1, name: "Opened" } %>
                    <% else %>
                        <%  { date: item2["date"].to_datetime.strftime('%Y-%m-%d %H:%M:%S'), cont: 1, name: "Opened" } %>
                    <% end %>
                <% elsif  item2["value"] == "closed" %>
                    <% if current_user.time_zone %>
                        <%  { date: item2["date"].to_datetime.in_time_zone(current_user.time_zone).strftime('%Y-%m-%d %H:%M:%S'), cont: 0, name: "Closed"} %>
                    <% else %>
                        <%  { date: item2["date"].to_datetime.strftime('%Y-%m-%d %H:%M:%S'), cont: 0, name: "Closed" } %>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>

    <%= raw(conts.compact.to_json) %>;
    var chart = AmCharts.makeChart("chartdiv", {
    "type": "serial",
    "theme": "light",
    "pathToImages": "http://www.amcharts.com/lib/3/images/",
    "dataProvider": chartData,
    "dataDateFormat": "YYYY-MM-DD HH:NN:SS",
    "valueAxes": [{
        "axisAlpha": 0,
        "ignoreAxisWidth": true,
        "inside": true,
        "position": "left"
    }],
    "mouseWheelZoomEnabled":true,
    "graphs": [{
        "id":"g1",
        "balloonText": "[[category]]<br /><b><span style='font-size:14px;'>value: [[name]]</span></b>",
        "type": "step",
        "lineThickness": 3,
        "noStepRisers": true,
        "valueField": "cont"
       
    }],
    "chartScrollbar": {
        
        "graph": "g1",
        "scrollbarHeight": 40
    },
    "chartCursor": {
        "cursorPosition": "mouse"
    },
    "categoryField": "date",
    "categoryAxis": {
        "parseDates": true,
        "axisColor": "#DADADA",
        "dashLength": 1,
        "minorGridEnabled": true,
        "minPeriod": "mm",
        "groupToPeriods": ["ss", "10ss", "30ss", "mm", "10mm", "30mm", "hh", "DD", "WW", "MM", "YYYY"]
      
    },
    "exportConfig":{
      menuRight: '20px',
      menuBottom: '30px',
      menuItems: [{
      icon: 'http://www.amcharts.com/lib/3/images/export.png',
      format: 'png'   
      }]  
    }
});

chart.addListener("rendered", zoomChart);
zoomChart();

// this method is called when chart is first inited as we listen for "dataUpdated" event
function zoomChart() {
    // different zoom methods can be used - zoomToIndexes, zoomToDates, zoomToCategoryValues
    chart.zoomToIndexes(chartData.length - 40, chartData.length - 1);
}


// generate some random data, quite different range

</script>
<% end %>



<% if @thing.device_type == "power" %>
<% uri = "https://dazzling-heat-3134.firebaseio.com" %>
<% firebase = Firebase::Client.new(uri) %>
<% bats = firebase.get("events/"+@thing.uid+"/power") %>
<% results = bats.body %>


<style>
#chartdiv {
    width   : 100%;
    height  : 600px;
}                           
</style>


               
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">Power Stats </span>
                    </div>
                    <div class="panel-body">

                        <div class="graph-container">
                          
                            <div id="chartdiv"></div>                           


<script>
    var chartData = 
    <% pows = results.map do |item1, item2| %>
                            <% if item2["date"] != nil %>
                                <% if item2["value"] != nil %>
                                <% if current_user.time_zone %>
                                        <%  { date: item2["date"].to_datetime.in_time_zone(current_user.time_zone).strftime('%Y-%m-%d %H:%M:%S'), pow: item2["value"] } %>
                                    <% else %>
                                        <%  { date: item2["date"].to_datetime.strftime('%Y-%m-%d %H:%M:%S'), pow: item2["value"] } %>
                                    <% end %>
                                <% end %>
                            <% end %>
                         <% end %>

                         <%= raw(pows.compact.to_json) %>;
    var chart = AmCharts.makeChart("chartdiv", {
    "type": "serial",
    "theme": "light",
    "pathToImages": "http://www.amcharts.com/lib/3/images/",
    "dataProvider": chartData,
    "dataDateFormat": "YYYY-MM-DD HH:NN:SS",
    "valueAxes": [{
        "axisAlpha": 0.2,
        "dashLength": 1,
        "position": "left"
    }],
    "mouseWheelZoomEnabled":true,
    "graphs": [{
        "id":"g1",
        "balloonText": "[[category]]<br /><b><span style='font-size:14px;'>value: [[value]]</span></b>",
        "type": "step",
        "bullet":"square",
        "bulletAlpha":0,
        "bulletSize":4,
        "bulletBorderAlpha":0,
        "title": "red line",
        "valueField": "pow"
    }],
    "chartScrollbar": {
        
        "graph": "g1",
        "scrollbarHeight": 40
    },
    "chartCursor": {
        "cursorPosition": "mouse"
    },
    "categoryField": "date",
    "categoryAxis": {
        "parseDates": true,
        "axisColor": "#DADADA",
        "dashLength": 1,
        "minorGridEnabled": true,
        "minPeriod": "mm",
        "groupToPeriods": ["ss", "10ss", "30ss", "mm", "10mm", "30mm", "hh", "DD", "WW", "MM", "YYYY"],
        "equalSpacing": true
    },
    "exportConfig":{
      menuRight: '20px',
      menuBottom: '30px',
      menuItems: [{
      icon: 'http://www.amcharts.com/lib/3/images/export.png',
      format: 'png'   
      }]  
    }
});

chart.addListener("rendered", zoomChart);
zoomChart();

// this method is called when chart is first inited as we listen for "dataUpdated" event
function zoomChart() {
    // different zoom methods can be used - zoomToIndexes, zoomToDates, zoomToCategoryValues
    chart.zoomToIndexes(chartData.length - 40, chartData.length - 1);
}


// generate some random data, quite different range

</script>
<% end %>