<body class="theme-default page-signup">

<script>
	var init = [];
	init.push(function () {
		
	});
</script>


	<!-- Page background -->
	<div id="page-signup-bg">
		<!-- Background overlay -->
		<div class="overlay"></div>
		<!-- Replace this with your bg image -->
		
	</div>
	<!-- / Page background -->

	<!-- Container -->
	<div class="signup-container">
		<!-- Header -->
		<div class="signup-header">
			<%= link_to root_path,  :class=>"logo" do %>
				
				Thing Layer
			<% end %> <!-- / .logo -->
			<div class="slogan">
				Alpha
			</div> <!-- / .slogan -->
		</div>
		<!-- / Header -->
		  

		<!-- Form -->
		<div class="signup-form">
			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
			
				<%= devise_error_messages! %>
  		  		<%= f.hidden_field :reset_password_token %>
				<div class="signup-text">
					<span>Reset Password</span>
				</div>

	
				<div class="form-group w-icon">
					<%= f.password_field :password, autofocus: true, autocomplete: "off", :class=> "form-control input-lg", :required => true%>
					
					<span class="fa fa-envelope signup-form-icon"></span>
					
				</div>
				<div class="form-group w-icon">
					<%= f.password_field :password_confirmation, autocomplete: "off", :class=> "form-control input-lg", :required => true%>
					
					<span class="fa fa-envelope signup-form-icon"></span>
					
				</div>

				

				<div class="form-actions">
					<%= f.submit "Submit", :class=> "signin-btn bg-primary"%>
					
				</div>
			<% end %>

		<div class="have-account">
		<%= render "devise/shared/links" %>
	</div>
	</div>









